/node_modules
/public/hot
/public/images
/public/images-OLD
/public/storage
/storage/*.key
/storage/framework/
/storage/logs/
*.zip
.idea
*.md
/vendor
.env
.htaccess
public/.htaccess
.md
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/admin/vendor/
