/node_modules
/public/hot
/public/images
/public/images-OLD
/public/storage
/storage/*.key
*.zip
/vendor
.env
*.md
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
