
node_modules/
dist/
 *.class
 *.py[cod]
/vendor
*.log
*.md
.idea
*.jar
target/
dist/
.idea/
.htaccess
public/.htaccess
public/uploads
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

